<html>
    <head>
        <title>Movie</title>  
    </head>
    
<style>
    #h1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 300%;
    }
    #table1 {
        position: absolute;
    left:0px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    }
    #table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
    }
    #table1 tr:nth-child(even){background-color: #f2f2f2;}
    #table1 tr:hover {background-color: #ddd;}
    #table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    }
</style>
<body>

    <h1 id="h1">Movies 
        <a href="/profile" class="btn btn-danger"><span class="fa fa-gear"></span><object align="right" style="font-size:20px">Profile</object></a>
        <a href="/visualization" class="btn btn-danger"><span class="fa fa-gear"></span><object align="right" style="font-size:20px; margin-right:15px">Graph</object></a>
    </h1>

<form method="post" action="/movies/search">
    <label>Search Movie: </label>
    <label>"MATCH (n:Movie) WHERE n.title =~ <input style="text-align: center" type="text" id="txtMovie" name="searchMovie"> return n "</label><br>
    <input type="submit" id= "submitbtn" value="Submit">
</form>

<table id="table1" style="border-style:double;">
    <tr>
        <th>Movie</td>
        <th>Poster</th>
        <th>Tagline</td>
        <th>Released</th>
        <th>Watch</th>
    </tr>
    
    <% movies.forEach(function(movie){ %>
    <tr >
        <td  onclick = "myFunction('<%= movie.title %>')", "createRel('<%= movie.title %>')"><%= movie.title %></td>
        <td><img src="http://neo4j-contrib.github.io/developer-resources/language-guides/assets/posters/<%= movie.title %>.jpg"></td>
        <td><%= movie.tagline %> </td>
        <td><%= movie.released %> </td>
        <td>
             <form method="post" action="/movies/clickWatch">
                <button onclick = "alert('You have watched: ' + '<%= movie.title %>')"  value="<%= movie.title %>" name="inputClickWatch" >  Watch  </button>
            </form>
        </td>
    </tr>
    <% }) %>
</table>

<script>
    function myFunction(x) {
        document.getElementById("txtMovie").value = x;
        document.getElementById("submitbtn").click();
    }
  
 </script>

 
</body>
</html>

