<!-- ./views/profile.ejs -->
<!-- This page can be replaced with query page or Neo4j visualization page -->

<!doctype html>
<html>
<head>
    <title>Neo4j visualization</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-address-card"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- Local information -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>
                        </p>
                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <% } else { %>
                        <a href="/connect/local" class="btn btn-default">Connect Local Account</a>
                    <% } %>

            </div>
        </div>

        <!-- Google Information -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                    <% if (user.google.token) { %>
                        <p>
                            <strong>id</strong>: <%= user.google.id %><br>
                            <strong>token</strong>: <%= user.google.token %><br>
                            <strong>email</strong>: <%= user.google.email %><br>
                            <strong>name</strong>: <%= user.google.name %>
                        </p>
                        <a href="/unlink/google" class="btn btn-default">Unlink</a>
                    <% } else { %>
                        <a href="/connect/google" class="btn btn-default">Connect Google Account</a>
                    <% } %>

            </div>
        </div>
        <p align = "center">Go to <a href="/movies">Movie Search</a>.</p>
    </div>

</div>
</body>
</html>